{{bread-crumbs tagName="ul" linkable=true class='uk-breadcrumb uk-animation-slide-top-small'}}
<hr>

<div class="uk-flex uk-flex-right uk-flex-middle uk-flex-wrap">

  <div class="uk-flex uk-flex-between uk-margin-right">
    <div class="uk-search uk-search-default">
      <span uk-search-icon></span>
      {{input data-test-search=true class="uk-search-input" value=term type="search" placeholder=(t 'global.search-placeholder') autofocus=true}}
    </div>

    {{uk-button
    color='primary'
    label=(t 'global.search')
    type='submit'
    on-click=(action 'search')
    data-test-search-submit=true
    }}

  </div>

  <div class="uk-margin-right" data-test-select-status="select">
    <select class="uk-select" id="form-horizontal-select"  onchange={{action 'setState' value="target.value"}}>
      <option selected={{unless status true}} value="">{{t 'rt.all-states'}}</option>
      {{#each states as |s|}}
        <option selected={{if (eq status s) true}} value={{s}}>{{t (concat 'rt.ticket.states.' s)}}</option>
      {{/each}}
    </select>
  </div>

  <div class="uk-margin-right uk-flex uk-flex-middle" data-test-select-pagesize="select">
    <div class="uk-text-nowrap uk-margin-right">{{t 'rt.pageSize'}}:</div>
    <select class="uk-select" id="form-horizontal-select"  onchange={{action "setPageSize" value="target.value"}}>
      <option selected value="{{pageSize}}">{{pageSize}}</option>
      {{#each pageSizes as |size|}}
        {{#unless (eq size pageSize)}}
          <option value={{size}}>{{size}}</option>
        {{/unless}}
      {{/each}}
    </select>
  </div>

</div>

<table class="uk-table uk-table-responsive uk-table-hover uk-table-striped">
  <thead uk-height-match>
    <tr uk-height-match>
      <th class="uk-width-auto">{{t 'rt.ticket.effectiveid'}}</th>
      <th class="uk-width-1-4">{{t 'rt.ticket.subject'}}</th>
      <th class="uk-width-auto">{{t 'rt.ticket.status'}}</th>
      <th class="uk-width-auto">{{t 'rt.ticket.updated'}}</th>
      <th class="uk-width-auto">{{t 'rt.ticket.created'}}</th>
      <th class="uk-width-auto">{{t 'rt.ticket.creator'}}</th>
      <th class="uk-width-auto">{{t 'rt.ticket.owner'}}</th>
    </tr>
  </thead>
  <tbody class="uk-overflow-auto" uk-scrollspy="target: > div; cls:uk-animation-slide-bottom-small; delay: 50;">
    {{#each model as |ticket index|}}
      <tr data-test-ticket>
        <td><a target="_blank" href="https://rt.adfinis-sygroup.ch/rt/Ticket/Display.html?id={{ticket.effectiveid}}" data-test-ticket-link>{{ticket.effectiveid}}</a></td>
        <td data-test-ticket-subject>{{ticket.subject}}</td>
        <td data-test-ticket-status>{{t (concat 'rt.ticket.states.' ticket.status)}}</td>
        <td>{{format-datetime ticket.updated}}</td>
        <td>{{format-datetime ticket.created}}</td>
        <td>{{if ticket.creator.fullName ticket.creator.fullName ticket.creator.username}}</td>
        <td>{{if ticket.owner.fullName ticket.owner.fullName ticket.owner.username}}</td>
      </tr>
    {{else}}<tr><td colspan="7">{{t 'rt.empty'}}</td></tr>{{/each}}
  </tbody>
</table>
{{uk-pagination meta=model.meta.pagination links=model.links loadPage=(action 'loadPage') data-test-pagination=true}}