{{ts-subscriptions subscriptions=projects}}

<table class="table table--striped">
  <caption>{{t 'timescout.history'}}</caption>
  <thead>
    <tr>
      <th width="300">{{t 'timescout.project-name'}}</th>
      <th class="nowrap" width="50">{{t 'timescout.lease-time'}}</th>
      <th class="visible-md" width="1">{{t 'timescout.lease-date'}}</th>
      <th class="visible-sm text-center" width="1">{{t 'timescout.acknowledged'}}</th>
      <th class="visible-md" width="300">{{t 'timescout.confirmed-by'}}</th>
    </tr>
  </thead>
  {{#if showPager}}
    <tfoot>
      <tr>
        <td colspan="4">
          {{pagination-pager current=page count=totalPages}}
        </td>
      </tr>
    </tfoot>
  {{/if}}
  <tbody>
    {{#each model as |entry|}}
      <tr>
        <td>{{entry.projectName}}</td>
        <td>{{entry.leaseTime}}h</td>
        <td class="visible-md">{{moment-format entry.leaseStamp 'L'}}</td>
        <td class="visible-sm text-center"><i class={{if entry.acknowledged 'fa fa-check' 'fa fa-times'}}></i></td>
        <td class="visible-md">{{entry.confirmedBy}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
