<nav class="nav-side">
  <header class="nav-side-header">
    <button class="nav-toggle nav-side-toggle" {{action 'toggle'}}></button>
    <a href="#">
      <div class="nav-side-header-logo"></div>
      <div class="nav-side-header-title">Customer Center</div>
    </a>
  </header>
  <section class="nav-side-body">
    <ul class="nav-side-list">
      <li class="nav-side-list-item">
        {{#link-to 'index'}}
          <i class="fa fa-dashboard"></i>
          {{t 'nav.dashboard'}}
        {{/link-to}}
      </li>
      <li class="nav-side-list-item">
        {{#link-to 'redmine'}}
          <i class="fa fa-bug"></i>
          {{t 'nav.redmine'}}
        {{/link-to}}
      </li>
    </ul>
    <ul class="nav-side-list">
      <li class="nav-side-list-header">{{t 'nav.settings'}}</li>
      <li class="nav-side-list-item">
        <a href="#">
          <i class="fa fa-user"></i>
          {{t 'nav.profile'}}
        </a>
      </li>
    </ul>
    <ul class="nav-side-list">
      <li class="nav-side-list-item">
        <a class="pointer" {{action 'invalidateSession'}}>
          <i class="fa fa-sign-out"></i>
          {{t 'nav.logout'}}
        </a>
      </li>
    </ul>
  </section>
</nav>
{{yield}}
<div class="page-content-overlay" {{action 'close' on='click'}}></div>
