<section class="page-header">
  <div class="page-header__inner">

    <NavBreadcrumbs @crumbs={{this.breadcrumbs}} />

    <h1 class="page-header__title">
      {{~t "page.account.password-confirm.title"~}}
    </h1>

  </div>
</section>

<section class="section">
  <div class="section__inner">

    <p>
      {{t "page.account.password-confirm.new-password"}}<br>
      <strong>{{this.password}}</strong>
    </p>

    <p>
      <LinkTo @route="account.login">
        {{t "page.account.password-confirm.login"}}
      </LinkTo>
    </p>

  </div>
</section>
