<h1>{{t 'nav.vault'}}</h1>

<!-- Show this block on desktops -->
<div class="uk-visible@l">
  <div class="uk-flex uk-flex-between">
    <div class="uk-padding-small uk-background-muted uk-animation-slide-bottom-small">
      {{#vault-tree-filter model=model as |tree|}}
      <ul class="uk-list uk-list-divider uk-height-large uk-overflow-auto" uk-height-viewport="offset-top: true; offset-bottom: true">
        {{#each-in tree.children s=(action "test") as |name child|}}
        {{vault-tree-node node=child name=name}}
        {{else}}
        {{t 'global.empty'}}
        {{/each-in}}
      </ul>
      {{/vault-tree-filter}}
    </div>
    <div class=" uk-flex uk-margin-large-left uk-width-expand">
      {{outlet}}
    </div>
  </div>
</div>

<!-- Show this block on mobile and tablets -->
<div class="uk-hidden@l">
  <div>
    {{#unless detail}}
    <div>
      {{#vault-tree-filter model=model as |tree|}}
      <ul class="uk-list uk-list-divider" uk-height-viewport="offset-top: true; offset-bottom: true">
        {{#each-in tree.children s=(action "test") as |name child|}}
        {{vault-tree-node node=child name=name}}
        {{else}}
        {{t 'global.empty'}}
        {{/each-in}}
      </ul>
      {{/vault-tree-filter}}
    </div>
    {{/unless}}
    <div>
      {{outlet}}
    </div>
  </div>
</div>
