<section class="page-header">
  <div class="page-header__inner">

    <NavBreadcrumbs @crumbs={{this.breadcrumbs}} />

    <h1 class="page-header__title">
      {{~t "page.index.title"~}}
    </h1>

  </div>
</section>

<section class="section">
  <div class="section__inner">

    <h2 class="section__title">
      {{~t "page.index.projects.title"~}}
    </h2>

    {{#if this.projects.length}}
      <ul class="projects__list" uk-grid>
        {{#each this.projects as |project|}}
          <li class="projects__item">
            <LinkTo @route="subscriptions.detail" @model={{project.id}}>
              <div>
                <div>
                  <h3 class="projects__title">
                    {{~project.name~}}
                  </h3>

                  {{format-duration project.totalTime}}
                </div>

                <StatusBattery @percentage={{project.percentage}} />
              </div>
            </LinkTo>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p class="projects__empty">
        {{~t "page.index.projects.empty"~}}
      </p>
    {{/if}}

  </div>
</section>

<section class="section uk-section-primary">
  <div class="section__inner">

    <h2 class="section__title">
      {{~t "page.index.support.title"~}}
    </h2>

    <ul class="support__list" uk-grid>
      <li class="support__item">
        <p class="support__callout">
          {{~t "page.index.support.callout" htmlSafe=true~}}
        </p>

        <p class="support__opening-hours">
          {{~t "page.index.support.opening-hours" htmlSafe=true~}}
        </p>
      </li>

      <li class="support__item">
        <a
          href="mailto:{{this.support.email}}"
          title={{this.support.email}}
          uk-icon="icon: mail; ratio: 3"
        ></a>
      </li>

      <li class="support__item">
        <a
          href="tel:{{this.support.phone}}"
          title={{this.support.phone}}
          uk-icon="icon: receiver; ratio: 3"
        ></a>
      </li>
    </ul>

    <hr>

    {{#if this.profiles.length}}
      <ul class="profiles__list">
        {{#each this.profiles as |profile|}}
          <li class="profiles__item">
            <a
              href={{profile.address}}
              title={{profile.title}}
              target="_blank"
              rel="noopener noreferrer"
              uk-icon={{profile.icon}}
            ></a>
          </li>
        {{/each}}
      </ul>
    {{/if}}

  </div>
</section>

{{#if this.locations.length}}
  <section class="section">
    <div class="section__inner">

      <h2 class="section__title">
        {{~t "page.index.locations.title"~}}
      </h2>

      <ul class="locations__list">
        {{#each this.locations as |location|}}
          <li class="locations__item">
            <div>
              <h3 class="locations_title">
                {{~location.title~}}
              </h3>

              <p>
                {{location.address.title}}<br>
                {{location.address.streetAddress}}<br>
                {{location.address.country}}-{{location.address.postalCode}}
                {{location.address.locality}}
              </p>

              <a href="tel:{{location.phone}}">{{location.phone}}</a>
              <a href="mailto:{{location.email}}">{{location.email}}</a>
            </div>
          </li>
        {{/each}}
      </ul>

    </div>
  </section>
{{/if}}
