{{outlet}}

<h4>{{t 'timescout.abo-reload-title'}}</h4>
<p>{{t 'timescout.abo-reload-info'}}</p>

<div class="grid grid--12of12 grid-sm--4of12">
  {{#each model.data as |abo|}}
    <div class="grid-cell">
      <div class="bg-blue ts-package-title">{{t 'timescout.package'}}</div>
      <div class="border-grey">
        <p class="ts-package-content">
          <span class="hours">{{t 'timescout.hours'}}:</span><span>{{abo.hours}}</span>
          <span class="hours">{{t 'timescout.price'}}:</span><span>CHF {{abo.price}}.-</span>
        </p>
        <button class="btn ts-btn" type="button" {{action 'load' abo.id model.projectID}}>{{t 'timescout.choose'}}</button>
      </div>
    </div>
  {{/each}}
</div>
