<table class="timesheet-table table table--striped">
  <caption>{{t 'timescout.list-timesheet' project=project.name}}</caption>
  <thead>
    <tr>
      <th width="100">{{t 'timescout.time'}}</th>
      <th width="300">{{t 'timescout.description'}}</th>
      <th class="visible-sm" width="1">{{t 'timescout.date'}}</th>
      <th class="visible-md" width="100">{{t 'timescout.done-by'}}</th>
    </tr>
  </thead>
  {{#if showPager}}
    <tfoot>
      <tr>
        <td colspan="4">
          {{pagination-pager current=page count=totalPages}}
        </td>
      </tr>
    </tfoot>
  {{/if}}
  <tbody class={{if loading 'loading-mask'}}>
    {{#each project as |entry|}}
      <tr>
        <td>{{entry.duration}}</td>
        <td>{{entry.comment}}</td>
        <td class="visible-sm">{{moment-format entry.date 'L'}}</td>
        <td class="visible-md">{{entry.doneBy}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
