{{#uk-card hover=true as |card|}}
  {{#card.header}}
    {{#card.title}}{{t 'nav.timed'}}{{/card.title}}
  {{/card.header}}
  {{#card.body}}
    {{#if fetchProjects.isRunning}}
      <div class="uk-overlay uk-position-center uk-flex uk-flex-center uk-flex-middle"><div>{{uk-spinner}}</div></div>
    {{else}}
      {{#with fetchProjects.lastSuccessful.value as |projects|}}
        <div data-test-pdata class="uk-child-width-1-1  uk-child-width-1-2@m  uk-text-center uk-grid-divider" uk-grid >
          {{#each projects as |p index|}}
            <div>
              <div class="uk-flex uk-flex-column uk-flex-between uk-height-1-1	" data-test-project={{p.id}}>
                <div>
                    {{#link-to (concat (if (or @user.adsyUser @user.admin) "timed-admin" "timed-subscriptions") ".detail") p.id class="uk-link-text" }}
                      <p class="uk-text-lead" data-test-project-name>{{p.name}}</p>
                    {{/link-to}}
                  <p data-test-project-total>{{format-duration p.totalTime}}{{t 'dashboard.remaining'}}</p>
                </div>
                {{timed-battery percentage=p.percentage index=index data-test-percentage=true}}
              </div>
            </div>
          {{else}}
            <div>
              {{t 'global.empty'}}
            </div>
          {{/each}}
        </div>
      {{/with}}
    {{/if}}
  {{/card.body}}
  {{#card.footer}}
    {{#link-to (if (or @user.adsyUser @user.admin) "timed-admin" "timed-subscriptions") class="uk-link-muted" data-test-all-projects=true}}{{t 'dashboard.links.timed'}}{{/link-to}}
  {{/card.footer}}
{{/uk-card}}
