{{#uk-card color='default' width="1-1 xlarge@l" as |card|}}
  {{#card.header}}
    {{#card.title}}{{title}}{{/card.title}}
  {{/card.header}}
  {{#card.body}}
    <form>
      <table class="uk-table uk-table-small uk-table-divider uk-margin-remove uk-table-middle">
        <thead>
          <tr>
            <th>Name</th>
            <th>{{t 'vault.value'}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each _model as |entry index|}}
            {{crud-list-item entry=entry edit=entry.edit index=index on-save=(action 'save') on-delete=(action 'delete')}}
          {{^}}
            <tr>
              <td colspan="3" class="uk-text-center">{{t 'global.empty'}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </form>
  {{/card.body}}
  {{#card.footer class='uk-text-right'}}
    {{#uk-button color='primary' on-click=(action 'add')}}
      {{t 'vault.add'}}
    {{/uk-button}}
  {{/card.footer}}
{{/uk-card}}