<div class="card" style="max-width: 800px">
  <div class="card-block">
    <h4>{{t title}}</h4>
    <form>
      <table class="table table--noborders">
        <thead>
          <tr>
            <th>Name</th>
            <th>{{t 'vault.value'}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each _model as |entry index|}}
            <tr class="border">
              <td style="width:30%">
                {{input-or-show value=entry.key edit=entry.edit placeholder="description"}}
              </td>
              <td>
                {{input-or-show value=entry.value edit=entry.edit placeholder="value" clipboard=true}}
              </td>
              <td class="text-right">
                {{#if (not entry.edit)}}
                <a href="javascript:void(0)" {{action 'edit' index}}><i class="fa fa-pencil"></i> {{t 'global.edit'}}</a>
                {{/if}}
              </td>
            </tr>
            {{#if (or entry.comment entry.edit)}}
              <tr class="comment">
                <td colspan="2" class="comment">
                  {{input-or-show
                    value=entry.comment
                    edit=entry.edit
                    placeholder="comment"
                    multiline=true
                    }}
                </td>
                <td></td>
              </tr>
            {{/if}}
            {{#if entry.edit}}
              <tr><td colspan="3">
                <button class="btn btn-primary" {{action 'save' index entry}}><i class="fa fa-floppy-o"></i>&nbsp;{{t 'global.save'}}</button>
                <button class="btn" {{action 'delete' index}}><i class="fa fa-times"></i>&nbsp;{{t 'global.delete'}}</button>
              </td></tr>
            {{/if}}
          {{else}}
            <tr>
              <td colspan="3" style="text-align: center">There's nothing to show here - yet!</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <hr>
      <button class="btn" {{action 'add'}}>{{t 'vault.add'}}</button>
    </form>
  </div>
</div>
