<div class="card" style="max-width: 800px">
  <div class="card-block">
    <h4>{{t title}}</h4>
    <form>
      <table class="table table--noborders">
        <thead>
          <tr>
            <th>Name</th>
            <th>{{t 'vault.value'}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each _model as |entry index|}}
              {{crud-list-item entry=entry edit=entry.edit index=index on-save=(action 'save') on-delete=(action 'delete')}}
              {{else}}
              <tr>
                <td colspan="3" style="text-align: center">{{t 'global.empty'}}</td>
              </tr>
          {{/each}}
        </tbody>
      </table>
      <hr>
      <button class="btn" {{action 'add'}}>{{t 'vault.add'}}</button>
    </form>
  </div>
</div>
