<h2>{{t 'timed.admin.confirm-subscription'}}</h2>
<table class="uk-table uk-table-divider uk-table-responsive">
  <thead>
    <tr>
      <th>{{t 'timed.admin.customer'}}</th>
      <th>{{t 'timed.admin.project'}}</th>
      <th>{{t 'timed.hours'}}</th>
      <th>{{t 'timed.date'}}</th>
    </tr>
  </thead>
  <tbody uk-scrollspy="target: > tr; cls:uk-animation-slide-left-small; delay: 50">
    {{#each model as |order index|}}
      <tr data-test-order={{index}}>
        <td class='uk-text-middle'>{{order.project.customer.name}}</td>
        <td class='uk-text-middle'>{{order.project.name}}</td>
        <td class='uk-text-middle'>{{format-duration order.duration}}</td>
        <td class='uk-text-middle'>{{moment-format order.ordered 'DD.MM.YYYY'}}</td>
        <td>
          {{#uk-button
            data-test-accept=index
            color='primary'
            fill=true
            on-click=(action send "accept" order)
          }}
            <span uk-icon="icon: check"/>
          {{/uk-button}}

          {{#uk-button
            data-test-deny=index
            color='default'
            fill=true
            on-click=(action send "deny" order)
          }}
            <span uk-icon="icon: close"/>
          {{/uk-button}}
        </td>
    </tr>
    {{else}}
      {{t 'global.empty'}}
    {{/each}}
  </tbody>
</table>
