<table class="table table--striped table--condensed">
  <caption>{{t 'rt.list-caption'}}</caption>
  <thead>
    <tr>
      <th>{{t 'rt.id'}}</th>
      <th class="visible-sm">{{t 'rt.status'}}</th>
      <th>{{t 'rt.title'}}</th>
      <th class="visible-md">{{t 'rt.updated'}}</th>
      <th class="visible-lg">{{t 'rt.created'}}</th>
    </tr>
  </thead>
  {{#if showPager}}
    <tfoot>
      <tr>
        <td colspan="7">
          {{pagination-pager current=page count=totalPages}}
        </td>
      </tr>
    </tfoot>
  {{/if}}
  <tbody class={{if loading 'loading-mask'}}>
    {{#each issues as |issue|}}
      <tr>
        <td>#{{issue.id}}</td>
        <td class="visible-sm">{{issue.status}}</td>
        <td>{{issue.subject}}</td>
        <td class="visible-md">{{moment-format issue.lastUpdated 'L LT'}}</td>
        <td class="visible-lg">{{moment-format issue.created 'L LT'}}</td>
      </tr>
    {{^}}
      <tr class={{if error 'danger'}}>
        <td colspan="6">
          {{#unless error}}
            No tickets found!
          {{else}}
            {{#each error.errors as |error|}}
              {{error.detail}}
            {{^}}
              {{error}}
            {{/each}}
          {{/unless}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
