<table class="table table--striped table--condensed">
  <caption>{{t 'rt.list-caption'}}</caption>
  <thead>
    <tr>
      <th></th>
      <th class="visible-sm">{{t 'rt.status'}}</th>
      <th>{{t 'rt.title'}}</th>
      <th class="visible-md">{{t 'rt.updated'}}</th>
      <th class="visible-lg">{{t 'rt.created'}}</th>
    </tr>
  </thead>
  {{#if showPager}}
    <tfoot>
      <tr>
        <td colspan="7">
          {{pagination-pager current=page count=totalPages}}
        </td>
      </tr>
    </tfoot>
  {{/if}}
  <tbody class={{if loading 'loading-mask'}}>
    {{#each issues as |issue|}}
      <tr>
        <td>
          <a href="mailto:{{mail}}?subject=Re: [{{host}} #{{issue.id}}] {{issue.subject}}">
            #{{issue.id}}
          </a>
        </td>
        <td class="visible-sm">{{issue.status}}</td>
        <td>
          <a href="mailto:{{mail}}?subject=Re: [{{host}} #{{issue.id}}] {{issue.subject}}">
            {{issue.subject}}
          </a>
        </td>
        <td class="visible-md">
          <time datetime={{moment-format issue.lastUpdated 'YYYY-MM-DDTHH:mm:ssZ'}} title={{moment-format issue.lastUpdated 'L LT'}}>
            {{moment-format issue.lastUpdated 'YYYY-MM-DD'}}
          </time>
        </td>
        <td class="visible-lg">
          <time datetime={{moment-format issue.created 'YYYY-MM-DDTHH:mm:ssZ'}} title={{moment-format issue.created 'L LT'}}>
            {{moment-format issue.created 'YYYY-MM-DD'}}
          </time>
        </td>
      </tr>
    {{^}}
      <tr class={{if error 'danger'}}>
        <td colspan="6">
          {{#unless error}}
            No tickets found!
          {{else}}
            {{#each error.errors as |error|}}
              {{error.detail}}
            {{^}}
              {{error}}
            {{/each}}
          {{/unless}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
