<table class="table table--striped table--condensed">
  <caption>
    <a href="https://{{redmine.host}}">
      {{t 'redmine.list-caption' host=host}}
    </a>
  </caption>
  <colgroup>
    <col width="50">
    <col class="visible-xs" width="300">
    <col class="visible-lg" width="1">
    <col class="visible-lg" width="1">
    <col class="visible-xl" width="1">
    <col>
    <col class="visible-xl" width="200">
  </colgroup>
  <thead>
    <tr>
      <th></th>
      <th class="visible-lg"></th>
      <th>{{t 'redmine.subject'}}</th>
      <th class="visible-xs">{{t 'redmine.project'}}</th>
      <th class="visible-lg">{{t 'redmine.status'}}</th>
      <th class="visible-xl">{{t 'redmine.updated'}}</th>
    </tr>
  </thead>
  {{#if showPager}}
    <tfoot>
      <tr>
        <td colspan="7">
          {{pagination-pager current=page count=totalPages}}
        </td>
      </tr>
    </tfoot>
  {{/if}}
  <tbody class={{if loading 'loading-mask'}}>
    {{#each issues as |issue|}}
      <tr>
        <td>
          <a href="https://{{host}}/issues/{{issue.id}}">
            #{{issue.id}}
          </a>
        </td>
        <td class="visible-lg text-center">
          {{#if (is-equal issue.tracker.name 'Task')}}
            <i class="fa fa-tasks" title="Task"></i>
          {{else}}{{#if (is-equal issue.tracker.name 'Bug')}}
            <i class="fa fa-bug" title="Bug"></i>
          {{else}}{{#if (is-equal issue.tracker.name 'Feature')}}
            <i class="fa fa-lightbulb-o" title="Feature"></i>
          {{else}}{{#if (is-equal issue.tracker.name 'Support')}}
            <i class="fa fa-support" title="Support"></i>
          {{else}}{{#if (is-equal issue.tracker.name 'Project')}}
            <i class="fa fa-folder-open-o" title="Project"></i>
          {{else}}
          <i class="fa fa-puzzle-piece" title={{issue.tracker.name}}></i>
          {{/if}}{{/if}}{{/if}}{{/if}}{{/if}}
        </td>
        <td>
          <a href="https://{{host}}/issues/{{issue.id}}">
            {{issue.subject}}
          </a>
        </td>
        <td class="visible-xs">{{issue.project.name}}</td>
        <td class="visible-lg">
          {{issue.status.name}}
        </td>
        <td class="visible-xl nowrap">
          <time datetime={{moment-format issue.updated_on 'YYYY-MM-DDTHH:mm:ssZ'}} title={{moment-format issue.updated_on 'L LT'}}>
            {{moment-format issue.updated_on 'YYYY-MM-DD'}}
          </time>
        </td>
      </tr>
    {{^}}
      <tr class={{if error 'danger'}}>
        <td colspan="7">
          {{#unless error}}
            Nice, no issues found!
          {{else}}
            {{error}}
          {{/unless}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
