<table class="table table--striped">
  <caption>{{t 'redmine.list-caption' host=host}}</caption>
  <colgroup>
    <col width="50">
    <col class="visible-xs" width="300">
    <col class="visible-sm" width="1">
    <col class="visible-lg" width="1">
    <col class="visible-xl" width="1">
    <col>
    <col class="visible-md" width="200">
  </colgroup>
  <thead>
    <tr>
      <th>{{t 'redmine.id'}}</th>
      <th class="visible-xs">{{t 'redmine.project'}}</th>
      <th class="visible-sm">{{t 'redmine.tracker'}}</th>
      <th class="visible-lg">{{t 'redmine.status'}}</th>
      <th class="visible-xl">{{t 'redmine.priority'}}</th>
      <th>{{t 'redmine.subject'}}</th>
      <th class="visible-md">{{t 'redmine.updated'}}</th>
    </tr>
  </thead>
  {{#if showPager}}
    <tfoot>
      <tr>
        <td colspan="7">
          {{pagination-pager current=page count=totalPages}}
        </td>
      </tr>
    </tfoot>
  {{/if}}
  <tbody>
    {{#each issues as |issue|}}
      <tr>
        <td>
          <a href="https://{{host}}/issues/{{issue.id}}">
            #{{issue.id}}
          </a>
        </td>
        <td class="visible-xs">{{issue.project.name}}</td>
        <td class="visible-sm">{{issue.tracker.name}}</td>
        <td class="visible-lg">{{issue.status.name}}</td>
        <td class="visible-xl">{{issue.priority.name}}</td>
        <td>
          <a href="https://{{host}}/issues/{{issue.id}}">
            {{issue.subject}}
          </a>
        </td>
        <td class="visible-md nowrap">{{moment issue.updated_on 'L LT'}}</td>
      </tr>
    {{^}}
      <tr class={{if error 'danger'}}>
        <td colspan="7">
          {{#unless error}}
            Nice, no issues found!
          {{else}}
            {{error}}
          {{/unless}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
