<h3 data-test-group-name={{model.id}}>{{model.full_name}}</h3>
<div class="uk-margin-left uk-overflow-auto">
  <table class="uk-table uk-table-divider">
    <thead>
        <tr>
            <th data-test-header-project="true">{{t "gitlab.table.project"}}</th>
            <th data-test-header-commits="true">{{t "gitlab.table.commits"}}</th>
            <th data-test-header-pipelines="true">{{t "gitlab.table.pipelines"}}</th>
        </tr>
    </thead>
    <tbody>
      {{#each projects as |project index|}}
        {{gitlab-projects data-test-project=index project=project commitsSince=filter.date}}
      {{/each}}
    </tbody>
  </table>
</div>