<table class="table table--striped">
  <caption>{{t 'symon.list-caption'}}</caption>
  <thead>
    <tr>
      <th>{{t 'symon.host'}}</th>
      <th>{{t 'symon.status'}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each hosts as |host|}}
      <tr>
        <td>{{host.name}}</td>
        <td>
          <i class="fa fa-circle {{if host.isenabled 'text-success' 'text-danger'}}"></i>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
