<table class="table table--striped">
  <caption>{{t 'timescout.list-caption'}}</caption>
  <thead>
    <tr>
      <th>{{t 'timescout.subscription.short'}}</th>
      <th>{{t 'timescout.remaining-hours'}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |subscription|}}
      <tr>
        <td>{{#link-to 'timescout.timesheet' subscription.id}}{{subscription.name}}{{/link-to}}</td>
        <td>{{subscription.availableTime.hours}}h {{subscription.availableTime.minutes}}min</td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{#unless nohistory}}<div>{{#link-to 'timescout'}}{{t 'timescout.history'}}{{/link-to}}</div>{{/unless}}
