<table class="table table--striped">
  <caption>{{t 'subscription.list-caption'}}</caption>
  <thead>
    <tr>
      <th>{{t 'subscription.subscription.short'}}</th>
      <th>{{t 'subscription.remaining-hours'}}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each subscriptions as |subscription|}}
      <tr>
        <td>
          {{#link-to 'subscription.timesheet' subscription.project.id}}
            {{subscription.project.name}}
          {{/link-to}}
        </td>
        <td>
          {{subscription.availableTime.hours}}h
          {{subscription.availableTime.minutes}}min
        </td>
        <td>
          {{#link-to 'subscription.abo' subscription.project.id subscription.subscription.id}}
            {{t 'subscription.reload'}}
          {{/link-to}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
