{{#uk-adsy-menu as |section nav|}}
  {{#if (eq section 'top')}}
    {{#nav.left class='uk-visible@l'}}
      {{nav.brand}}
    {{/nav.left}}
    {{#nav.left}}
      {{#nav.list}}
        <li>
          {{log i18n}}
          <a href="#">{{i18n.locale}}</a>
          <div class="uk-navbar-dropdown" uk-dropdown="animation: uk-animation-slide-small; mode: click;">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              {{#each i18n.locales as |locale|}}
                <li class={{if (eq locale i18n.locale) 'uk-active'}}>
                  <a href="#" {{action (perform setLocale) locale}}>{{t locale}}</a>
                </li>
              {{/each}}
            </ul>
          </div>
        </li>
      {{/nav.list}}
    {{/nav.left}}
  {{else if (eq section 'side')}}
    <div class="uk-padding uk-padding-remove-top uk-hidden@l">
      <img class="uk-width-1-1" src="/assets/images/adsy-logo.png">
    </div>

    {{#nav.list as |list|}}
      {{#list.item 'index'}}{{t 'nav.dashboard'}}{{/list.item}}

      {{#if model.vault}}
        {{#list.item 'vault'}}{{t 'nav.vault'}}{{/list.item}}
      {{/if}}

      {{!-- {{#if (and model.sysupport (service-enabled 'sysupport'))}} --}}
        {{#list.item 'sysupport'}}{{t 'nav.sysupport'}}{{/list.item}}
      {{!-- {{/if}} --}}
    {{/nav.list}}

    {{#nav.list as |list|}}
      <li>
        <a class="pointer" {{action 'invalidateSession'}}>
          {{t 'nav.logout'}}
        </a>
      </li>
    {{/nav.list}}
  {{else}}
    {{outlet}}
  {{/if}}
{{/uk-adsy-menu}}