<div class="uk-container uk-flex uk-flex-center uk-flex-middle uk-flex-1">
  {{#uk-card color='' class='uk-card-login uk-animation-fade' width='2-3@m' as |card|}}
    {{#card.header class='uk-flex uk-flex-center'}}
      <img class="uk-width-2-3" alt="Adfinis" src="/assets/pictures/adfinis-logo.svg">
    {{/card.header}}
    {{#card.body class='uk-padding-remove-vertical'}}
      <form {{action 'passwordreset' identification on='submit'}}>
        <div class="uk-grid-small" uk-grid>
          <div class="uk-width-1-1 uk-width-2-3@m uk-light">
            <div class="uk-inline uk-width-1-1">
              {{uk-icon 'user' class='uk-form-icon'}}
              {{input type='text' name='username' value=identification class='uk-input' placeholder=(t 'global.Username') disabled=loading autofocus=true}}
            </div>
          </div>
          <div class="uk-width-1-1 uk-width-1-3@m">
            {{#uk-button type='submit' width='1-1' color='primary' loading=loading}}
              {{t 'login.send-new-password'}}
            {{/uk-button}}
          </div>
        </div>
      </form>
    {{/card.body}}
    {{#card.footer}}
      {{#link-to 'login' class='uk-link-muted'}}{{t 'login.back-to-login'}}{{/link-to}}
    {{/card.footer}}
  {{/uk-card}}
</div>

