<div class="uk-container uk-flex uk-flex-center uk-flex-middle uk-flex-1">
  <div class="uk-card uk-padding uk-card-login uk-width-2-3@m uk-animation-fade">
    <form {{action 'passwordreset' identification on='submit'}}>
      <div class="uk-grid-small uk-margin" uk-grid>
        <div class="uk-width-1-1 uk-flex uk-flex-center uk-padding uk-padding-remove-horizontal uk-padding-remove-top">
          <img class="uk-width-2-3" alt="Adfinis SyGroup" src="/assets/pictures/adsy-logo.svg">
        </div>
        <div class="uk-width-1-1 uk-width-3-5@m">
          <div class="uk-inline uk-width-1-1">
            {{uk-icon 'user' class='uk-form-icon'}}
            {{input type='text' name='username' value=identification class='uk-input' placeholder=(t 'global.Username') disabled=loading autofocus=true}}
          </div>
        </div>
        <div class="uk-width-1-1 uk-width-2-5@m">
          <button type="submit" class="uk-button uk-button-primary uk-width-1-1">{{t 'login.send-new-password'}}</button>
        </div>
      </div>
      {{#link-to 'login' class='uk-link-muted'}}{{t 'login.back-to-login'}}{{/link-to}}
    </form>
  </div>
</div>

