<h5>{{t 'timescout.project-details'}}</h5>
<dl>
  <dt>{{t 'timescout.project-name'}}</dt>
  <dd>{{model.name}}</dd>

  <dt>{{t 'timescout.total-booked'}}</dt>
  <dd>{{model.totalBookedTime.hours}}h {{model.totalBookedTime.minutes}}min</dd>

  <dt>{{t 'timescout.total-used'}}</dt>
  <dd>{{model.totalUsedTime.hours}}h {{model.totalUsedTime.minutes}}min</dd>

  <dt>{{t 'timescout.remaining-hours'}}</dt>
  <dd>{{model.availableTime.hours}}h {{model.availableTime.minutes}}min</dd>
</dl>

{{outlet}}
