<div uk-grid class="uk-child-width-1-1 uk-child-width-1-2@m">
  <div>
    {{#uk-card as |card|}}
      {{#card.header}}
        {{#card.title}}
          Aufwände
        {{/card.title}}
      {{/card.header}}
      {{#card.body}}
        <table class="uk-table uk-table-divider uk-width-1-1">
          <thead>
            <tr>
              <th>Datum</th>
              <th>Aufwand</th>
              <th>Mitarbeiter</th>
              <th>Beschreibung</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.reports as |report|}}
              <tr>
                <td>{{moment-format report.date 'DD.MM.YYYY'}}</td>
                <td>{{format-duration report.duration format='hours'}}</td>
                <td>{{report.user.fullName}}</td>
                <td>{{report.comment}}</td>
              </tr>
            {{else}}Nothing Here{{/each}}
          </tbody>
        </table>
      {{/card.body}}
    {{/uk-card}}
  </div>
  <div>
    {{#uk-card as |card|}}
      {{#card.header}}
        {{#card.title}}
          Aufladungen
        {{/card.title}}
      {{/card.header}}
      {{#card.body}}
        <table class="uk-table uk-table-divider uk-width-1-1">
          <thead>
            <tr>
              <th>Datum</th>
              <th>Anzahl Stunden</th>
              <th>Bestätigt</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.orders as |order|}}
              <tr>
                <td>{{moment-format order.ordered 'DD.MM.YYYY'}}</td>
                <td>{{format-duration order.duration format='hours'}}</td>
                <td>{{uk-icon (if order.acknowledged 'check' 'close') scale=2}}</td>
              </tr>
            {{else}}Nothing Here{{/each}}
          </tbody>
        </table>
      {{/card.body}}
    {{/uk-card}}
  </div>
</div>