<tr>
  <td class="uk-width-1-3">
    {{input-or-show value=entry.key edit=edit placeholder="description"}}
  </td>
  <td colspan="{{if edit 2 1}}" class="{{if edit 'uk-width-2-3' 'uk-width-1-3'}}">
    {{input-or-show value=entry.value edit=edit placeholder="value" clipboard=true mask=maskPassword}}
  </td>
  {{#unless edit}}
    <td class="uk-width-1-3 uk-text-right">
        <a {{action 'show' index}} href="#" class="uk-icon-button" uk-icon="search"></a>
        <a {{action (mut edit) true}} href="#" class="uk-icon-button" uk-icon="pencil"></a>
    </td>
  {{/unless}}
</tr>

{{#if (or entry.comment edit)}}
  <tr class="uk-border-remove">
    <td colspan="3" class="padding-remove-top {{unless edit 'uk-text-small uk-text-muted'}}">
      <div class="{{unless edit 'uk-margin-left'}}">
        {{input-or-show
          value=entry.comment
          edit=edit
          placeholder="Comment"
          multiline=true
        }}
      </div>
    </td>
  </tr>
{{/if}}

{{#if edit}}
  <tr>
    <td colspan="3">
      <div class="uk-grid-small uk-remove-margin" uk-grid>
        <div>
        {{#uk-button color='primary' on-click=(action 'save' index entry)}}
          {{uk-icon 'check'}} {{t 'global.save'}}
        {{/uk-button}}
        </div>
        <div>
        {{#uk-button color='default' on-click=(action (mut edit) false)}}
          {{uk-icon 'close'}} {{t 'global.cancel'}}
        {{/uk-button}}
        </div>
        <div>
        {{#uk-button color='danger' on-click=(action 'delete' index)}}
          {{uk-icon 'trash'}} {{t 'global.delete'}}
        {{/uk-button}}
        </div>
      </div>
    </td>
  </tr>
{{/if}}
