{{#if (eq sort.attr attr)}}
  {{#if (eq sort.order 'asc')}}
    <span uk-icon="icon: triangle-up" data-test-sort-asc="{{elementId}}"></span>
    {{else if (eq sort.order 'desc')}}
    <span uk-icon="icon: triangle-down" data-test-sort-desc="{{elementId}}"></span>
  {{/if}}
{{/if}}
<a class="uk-link-reset" data-test-sort={{elementId}} onclick={{action 'sort'}}>
  {{yield}}
</a>