<h1>{{model.username}}</h1>

<div class="grid">
  <form {{action 'save' on='submit'}} class="grid-cell grid-cell-xs--10of12 grid-cell-sm--8of12 grid-cell-md--6of12">
    <div class="form-group">
      <label for="user-language">{{t 'user.profile.language'}}</label>
      <select id="user-language" class="form-control" onchange={{action 'setLocale' value='target.value'}}>
        {{#each i18n.locales as |locale|}}
          <option selected={{is-equal locale i18n.locale}} value={{locale}}>
            {{t locale}}
          </option>
        {{/each}}
      </select>
    </div>
    <div class="form-group">
      <label for="user-email">{{t 'user.profile.email'}}</label>
      <input id="user-email" class="form-control" type="email" value={{model.email}} disabled>
    </div>
    <div class="form-group">
      <label for="user-services">{{t 'user.profile.services'}}</label>
      <select id="user-services" class="form-control" multiple disabled>
        {{#each model.groups as |group|}}
          <option selected>{{group}}</option>
        {{/each}}
      </select>
    </div>
    {{!--
    <div class="form-group">
      <button class="btn btn-primary {{if loading 'loading'}}">{{t 'global.save'}}</button>
    </div>

    {{#if error}}
      <div class="alert alert-danger">
        {{error.message}}
      </div>
    {{/if}}
    --}}
  </form>
</div>
