<h1>{{model.username}}</h1>

<form class="uk-form-stacked">
  <div class="uk-margin">
    <label class="uk-form-label">{{t 'user.profile.language'}}</label>
    <div class="uk-form-controls">
      <select class="uk-select" onchange={{action 'setLocale' value='target.value'}}>
        {{#each i18n.locales as |locale|}}
          <option selected={{eq locale i18n.locale}} value={{locale}}>
            {{t locale}}
          </option>
        {{/each}}
      </select>
    </div>
  </div>

  <div class="uk-margin">
    <label class="uk-form-label">{{t 'user.profile.email'}}</label>
    <div class="uk-form-controls">
      <input class="uk-input" type="email" value={{model.email}} disabled>
    </div>
  </div>
</form>