<table class="timesheet-table table table--striped">
  <caption>{{t 'timescout.list-timesheet' project=project.name}}</caption>
  <thead>
    <tr>
      <th width="100">{{t 'timescout.time'}}</th>
      <th width="300">{{t 'timescout.description'}}</th>
      <th class="visible-sm" width="1">{{t 'timescout.date'}}</th>
      <th class="visible-md" width="100">{{t 'timescout.done-by'}}</th>
    </tr>
  </thead>
  <tbody class="hidden-font loading-mask">
    {{#each (adsy-range 1 10) as |value|}}
      <tr>
        <td>00h 00min</td>
        <td>Lorem Ipsum</td>
        <td class="visible-sm">{{moment-format 0 'L'}}</td>
        <td class="visible-md">Someone</td>
      </tr>
    {{/each}}
  </tbody>
</table>
