<b>Aufladung von {{hoursAdded}} Stunde/n</b>

<ul>
  <li>Kunde: {{customerName}}</li>
  <li>Projekt: {{projectName}}</li>
  <li>Projekt Total mit Aufladung: {{hoursTotal}} Stunde/n</li>
</ul>

<div style="font-size: 12px;">
  __________________________________<br>
  <a href="https://my.adfinis-sygroup.ch/timed-admin/confirm-subscriptions">Im Customer Center anzeigen</a><br>
  <a href="https://my.adfinis-sygroup.ch/timed-admin/{{projectId}}">Kunde anzeigen</a><br>
  <br>

  <b>Customer Center</b><br>
  Credits / Reports
</div>
