<li>
  <a href="#" class="uk-link-text" {{action "toggle"}}>
    {{uk-icon (concat 'triangle-' (if visible 'down' 'right'))}}{{name}}
  </a>
  {{#if visible}}
    <ul class="uk-list uk-list-divider uk-margin uk-padding uk-padding-remove-vertical uk-padding-remove-right">
      {{#each-in node.values as |name props|}}
        <li>{{#link-to 'vault.edit' props.path}}{{name}}{{/link-to}}
          <span class="details">{{print-props props}}</span>
        </li>
      {{/each-in}}

      {{#each-in node.children as |name child|}}
        {{vault-tree-node node=child name=name}}
      {{/each-in}}
    </ul>
  {{/if}}
</li>
