<div class={{unless (or media.isMobile media.isTablet ) "uk-flex uk-flex-between"}}>

  {{#if showTree}}
  <div class={{unless (or media.isMobile media.isTablet ) "uk-padding-small uk-background-muted"}}>
    {{!-- <div class={{unless (or media.isMobile media.isTablet ) "uk-background-muted uk-padding-small"}}> --}}
      {{#vault-tree-filter model=model as |tree|}}
      <ul class="uk-list uk-list-divider {{unless (or media.isMobile media.isTablet ) "uk-height-large uk-overflow-auto" }}" uk-height-viewport="offset-top: true; offset-bottom: true">
        {{#each-in tree.children s=(action "test") as |name child|}}
        {{vault-tree-node node=child name=name}}
        {{else}}
        {{t 'global.empty'}}
        {{/each-in}}
      </ul>
      {{/vault-tree-filter}}
    </div>
    {{/if}}

    <div class={{unless (or media.isMobile media.isTablet ) "uk-width-expand uk-flex uk-margin-large-left"}}>
      {{outlet}}
    </div>
  </div>
