<style>
#battery-head-{{name}} {
  width: 30px;
  margin-left: 31px;
  border: 5px solid;
  border-color:{{unless percentage '#f00'}};
}

#battery-frame-{{name}} {
  display: flex;
  flex-direction: column-reverse;
  width: 70px;
  height: 170px;
  padding: 7px;
  border: 10px solid;
  border-radius: 20px;
  border-color:{{unless percentage '#f00'}};
}

#battery-body-{{name}} {
  animation-name: shrink-{{name}};
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 200ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes shrink-{{name}} {
  0% {
    height: 170px;
    background-color: #6be585;
  }
  100% {
    height: {{percent}}%;
    background-color: {{color}};
  }
}
</style>

<div class="battery">
  <div id="battery-head-{{name}}"></div>
  <div id="battery-frame-{{name}}">
    <div id="battery-body-{{name}}"></div>
  </div>
</div>
