<h1>{{t 'index.greeting'}} to Dashboard 2.0</h1>

<section>
  <div class="">
    <div uk-grid class="uk-child-width-1-1 uk-child-width-1-2@m" uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 100">

      <div class="uk-padding uk-padding-remove-bottom">
        {{#uk-card class="" as |card|}}
          {{#card.header}}
            {{#card.title}}Credits / Reports{{/card.title}}
          {{/card.header}}
          {{#card.body}}
            <div uk-grid class="uk-child-width-1-2 uk-text-center">

              <div class="cc-uk-divider-right">
                <h4>Monster Hunter World</h4>
                <p>23 Hours remaining</p>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="200px" height="200px" viewBox="0 0 471.829 471.829" style="enable-background:new 0 0 471.829 471.829;" xml:space="preserve" data-ember-extension="1">
                  <g>
                  <path d="M319.089,27.221h-36.475V0h-95.28v27.221h-34.597c-22.522,0-40.829,18.317-40.829,40.832v362.946   c0,22.51,18.312,40.83,40.829,40.83h166.352c22.524,0,40.832-18.32,40.832-40.83V68.052   C359.921,45.538,341.613,27.221,319.089,27.221z M332.705,431.002c0,7.501-6.108,13.607-13.62,13.607H152.737   c-7.508,0-13.615-6.095-13.615-13.607V68.052c0-7.501,6.107-13.611,13.615-13.611h166.352c7.508,0,13.616,6.109,13.616,13.611   V431.002L332.705,431.002z M317.862,428.5H153.966v-59.719h163.896V428.5z"/>
                  </g>
                </svg>

              </div>
              <div>
                <h4>Destiny Addon</h4>
                <p>223 Hours remaining</p>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="200px" height="200px" viewBox="0 0 471.829 471.829" style="enable-background:new 0 0 471.829 471.829;" xml:space="preserve" data-ember-extension="1">
                  <g>
                  <path d="M319.089,27.221h-36.475V0h-95.28v27.221h-34.597c-22.522,0-40.829,18.317-40.829,40.832v362.946   c0,22.51,18.312,40.83,40.829,40.83h166.352c22.524,0,40.832-18.32,40.832-40.83V68.052   C359.921,45.538,341.613,27.221,319.089,27.221z M332.705,431.002c0,7.501-6.108,13.607-13.62,13.607H152.737   c-7.508,0-13.615-6.095-13.615-13.607V68.052c0-7.501,6.107-13.611,13.615-13.611h166.352c7.508,0,13.616,6.109,13.616,13.611   V431.002L332.705,431.002z M317.862,428.5H153.966v-59.719h163.896V428.5z"/>
                  </g>
                </svg>

              </div>
            </div>
          {{/card.body}}
          {{#card.footer}}
            {{uk-button color='text' label='Read more'}}
          {{/card.footer}}
        {{/uk-card}}
      </div>

      <div class="uk-padding uk-padding-remove-bottom">
        {{#uk-card class="" as |card|}}
          {{#card.header}}
            {{#card.title}}Title{{/card.title}}
          {{/card.header}}
          {{#card.body}}
            Content
          {{/card.body}}
          {{#card.footer}}
            {{uk-button color='text' label='Read more'}}
          {{/card.footer}}
        {{/uk-card}}
      </div>

    </div>

    <div uk-grid class="uk-child-width-1-1 uk-child-width-1-2@m" uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 100">

      <div class="uk-padding uk-padding-remove-top">
        {{#uk-card class="" as |card|}}
          {{#card.header}}
            {{#card.title}}Title{{/card.title}}
          {{/card.header}}
          {{#card.body}}
            Content
          {{/card.body}}
          {{#card.footer}}
            {{uk-button color='text' label='Read more'}}
          {{/card.footer}}
        {{/uk-card}}
      </div>

      <div class="uk-padding uk-padding-remove-top">
        {{#uk-card class="" as |card|}}
          {{#card.header}}
            {{#card.title}}Title{{/card.title}}
          {{/card.header}}
          {{#card.body}}
            Content
          {{/card.body}}
          {{#card.footer}}
            {{uk-button color='text' label='Read more'}}
          {{/card.footer}}
        {{/uk-card}}
      </div>

    </div>

  </div>
</section>

<section>
  <h2 class="uk-heading-divider">
    <div uk-grid class="uk-child-width-1-1 uk-child-width-auto@s uk-grid-small uk-margin-remove">
      <div>
        {{t 'index.contact-us'}}
      </div>
      <div>
        <a uk-icon="mail" class="uk-icon-button" href="mailto:support@adfinis-sygroup.ch"></a>
        <a uk-icon="facebook" class="uk-icon-button" href="https://facebook.com/AdfinisSyGroup"></a>
        <a uk-icon="linkedin" class="uk-icon-button" href="https://linkedin.com/company/2610138"></a>
        <a uk-icon="xing" class="uk-icon-button" href="https://xing.com/companies/adfinissygroupag"></a>
        <a uk-icon="github" class="uk-icon-button" href="https://github.com/adfinis-sygroup"></a>
        <a uk-icon="twitter" class="uk-icon-button" href="https://twitter.com/adfinissygroup"></a>
      </div>
    </div>
  </h2>

  <div class="uk-child-width-1-1 uk-child-width-1-3@s uk-margin-bottom" uk-grid>
    <div>
      {{#uk-card class='uk-height-1-1' color='default' hover=true as |card|}}
        {{#card.header}}
          {{#card.title tagName='h3'}}
            {{t 'index.location' location='Basel'}}
          {{/card.title}}
        {{/card.header}}
        {{#card.body}}
          <p>
            Adfinis SyGroup AG<br>
            Güterstrasse 86<br>
            CH-4053 Basel
          </p>
          <dl class="uk-description-list">
            <dt>{{t 'index.phone'}}</dt>
            <dd>+41 (0) 61 500 31 31</dd>

            <dt>{{t 'index.fax'}}</dt>
            <dd>+41 (0) 31 550 31 19</dd>
          </dl>
        {{/card.body}}
        {{#card.footer}}
          <a href={{t 'index.directions.bs.url'}} target="_blank">
            {{t 'index.directions'}}
          </a>
        {{/card.footer}}
      {{/uk-card}}
    </div>
    <div>
      {{#uk-card class='uk-height-1-1' color='default' hover=true as |card|}}
        {{#card.header}}
          {{#card.title tagName='h3'}}
            {{t 'index.location' location='Bern'}}
          {{/card.title}}
        {{/card.header}}
        {{#card.body}}
          <p>
            Adfinis SyGroup AG<br>
            Giessereiweg 5<br>
            CH-3007 Bern
          </p>
          <dl class="uk-description-list">
            <dt>{{t 'index.phone'}}</dt>
            <dd>+41 (0) 31 550 31 11</dd>

            <dt>{{t 'index.fax'}}</dt>
            <dd>+41 (0) 31 550 31 19</dd>
          </dl>
        {{/card.body}}
        {{#card.footer}}
          <a href={{t 'index.directions.be.url'}} target="_blank">
            {{t 'index.directions'}}
          </a>
        {{/card.footer}}
      {{/uk-card}}
    </div>
    <div>
      {{#uk-card class='uk-height-1-1' color='default' hover=true as |card|}}
        {{#card.header}}
          {{#card.title tagName='h3'}}
            {{t 'index.location' location='Zürich'}}
          {{/card.title}}
        {{/card.header}}
        {{#card.body}}
          <p>
            Adfinis SyGroup AG<br>
            Europaallee 41<br>
            CH-8004 Zürich
          </p>
          <dl class="uk-description-list">
            <dt>{{t 'index.phone'}}</dt>
            <dd>+41 (0) 43 500 38 90</dd>

            <dt>{{t 'index.fax'}}</dt>
            <dd>+41 (0) 31 550 31 19</dd>
          </dl>
        {{/card.body}}
      {{/uk-card}}
    </div>
  </div>
</section>