<section class="page-header">
  <div class="page-header__inner">

    <NavBreadcrumbs @crumbs={{this.breadcrumbs}} />

    <h1 class="page-header__title">
      {{~t "page.account.login.title"~}}
    </h1>

  </div>
</section>

<section class="section">
  <div class="section__inner">

    <form
      {{on "submit" this.submit}}
      class="form"
    >
      <fieldset class="form__fieldset">
        <p class="form__field">
          <label class="form__label">
            {{~t "page.account.login.form.username"~}}
          </label>

          <div class="form__input">
            <Input
              @value={{this.changeset.username}}
              class="form__input__text"
              type="text"
            />
          </div>
        </p>

        <p class="form__field">
          <label class="form__label">
            {{~t "page.account.login.form.password"~}}
          </label>

          <div class="form__input">
            <Input
              @value={{this.changeset.password}}
              class="form__input__password"
              type="password"
            />
          </div>
        </p>
      </fieldset>

      <fieldset class="form__fieldset">
        <p class="form__controls">
          <button
            {{on "click" this.cancel}}
            class="form__cancel"
            type="button"
          >
            {{~t "page.account.login.form.cancel"~}}
          </button>

          <button
            type="submit"
            class="form__submit"
          >
            {{~t "page.account.login.form.submit"~}}
          </button>
        </p>
      </fieldset>
    </form>

    <p>
      <LinkTo @route="account.password-reset">
        {{~t "page.account.login.reset"~}}
      </LinkTo>
    </p>

  </div>
</section>
