<div class="uk-flex uk-flex-between">
  <h2 class="uk-inline-flex">{{t 'timed.admin.projects'}}</h2>

  <button uk-toggle="target: #filter-sidebar" class="uk-button uk-button-default uk-margin-bottom" type="button">{{t 'timed.admin.filter'}}</button>
</div>

<div class="uk-overflow-auto" uk-scrollspy="target: > div; cls:uk-animation-slide-bottom-small; delay: 50;">
  {{#cc-data-table headers=headers model=projects as |results|}}
    {{#each results as |project index|}}
      {{#link-to "timed-admin.detail" project.id
        data-test-project=index
        class=(concat "uk-link-reset pointer "
          (if project.isTimeAlmostConsumed "highlight-left"))
        tagName="tr"
      }}
        <td class={{concat "uk-text-bold uk-text-default "
          (if project.isTimeAlmostConsumed "uk-text-danger")}}>
          {{project.name}}
        </td>
        <td>{{project.customer.name}}</td>
        <td>{{project.billingType.name}}</td>
        <td>{{format-duration-short project.purchasedTime}}</td>
        <td>{{format-duration-short project.spentTime}}</td>
        {{#if project.isTimeAlmostConsumed}}
          <td class="uk-flex uk-text-danger">
            <span>{{format-duration-short project.totalTime}}</span>
            {{mdi-icon "clock-alert-outline" fill="#f0506e" class="uk-margin-small-left"}}
          </td>
        {{else}}
          <td>{{format-duration-short project.totalTime}}</td>
        {{/if}}
        <td>{{format-duration-short project.unconfirmedTime}}</td>
      {{/link-to}}
    {{else}}{{t 'global.empty'}}{{/each}}
  {{/cc-data-table}}
</div>

<div id="filter-sidebar" uk-offcanvas="flip: true; overlay: true">
  <div class="uk-offcanvas-bar">
    <button class="uk-offcanvas-close" type="button" uk-close></button>
    <h3>{{t 'timed.admin.filter'}}</h3>
    <label>
      {{input class="uk-checkbox uk-margin-small-right" type="checkbox" click=(action "filterTimeAlmostConsumed")}}{{t 'timed.admin.timeAlmostConsumedFilter'}}
    </label>
  </div>
</div>
