<h1>{{t 'index.greeting'}}</h1>

{{!--<div class="alert alert-warning">
  <p style="margin-bottom:0">Geplante Wartungsarbeiten an unserer Core Router Infrastruktur <strong>am SO 2015-08-27 von 03:00 bis 03:45</strong></p>
</div>--}}

<section>
  <h2>{{t 'index.our-tools'}}</h2>

  <table class="table table--condensed" style="width:auto">
    <colgroup>
      <col width="160">
    </colgroup>
    <tbody>
      <tr>
        <th class="text-right">
          <a href="https://project.adfinis-sygroup.ch/">
            {{t 'index.tools.redmine'}}
          </a>
        </th>
        <td>{{t 'index.tools.redmine.description'}}</td>
      </tr>
      <tr>
        <th class="text-right">
          <a href="https://git.adfinis-sygroup.ch/">
            {{t 'index.tools.gitlab'}}
          </a>
        </th>
        <td>{{t 'index.tools.gitlab.description'}}</td>
      </tr>
      {{#if (service-enabled 'rt')}}
        <tr>
          <th class="text-right">
              {{#link-to 'rt'}}
                {{t 'index.tools.rt'}}
              {{/link-to}}
          </th>
          <td>{{t 'index.tools.rt.description'}}</td>
        </tr>
      {{/if}}
      <tr>
        <th class="text-right">
          <a href="https://admin.syhosting.ch/poweradmin/">
            {{t 'index.tools.poweradmin'}}
          </a>
        </th>
        <td>{{t 'index.tools.poweradmin.description'}}</td>
      </tr>
      <tr>
        <th class="text-right">
          <a href="https://monitoring.adfinis-sygroup.ch/">
            {{t 'index.tools.symonitoring'}}
          </a>
        </th>
        <td>{{t 'index.tools.symonitoring.description'}}</td>
      </tr>
      {{#if (service-enabled 'sysupport')}}
      <tr>
        <th class="text-right">
          {{#link-to 'timescout'}}
            {{t 'index.tools.sysupport'}}
          {{/link-to}}
        </th>
        <td>{{t 'index.tools.sysupport.description'}}</td>
      </tr>
      {{/if}}
      <tr>
        <th class="text-right">
          <a href="https://vm-manager.adfinis-sygroup.ch/">
            {{t 'index.tools.rhev'}}
          </a>
        </th>
        <td>{{t 'index.tools.rhev.description'}}</td>
      </tr>
      <tr>
        <th class="text-right">
          <a href="https://mailfeed.adfinis-sygroup.ch/login.php">
            {{t 'index.tools.mailcleaner'}}
          </a>
        </th>
        <td>{{t 'index.tools.mailcleaner.description'}}</td>
      </tr>
    </tbody>
  </table>
</section>

<section>
  <h2>{{t 'index.contact-us'}}</h2>
  <p>
    {{t 'index.create-ticket'}}:
    <a href="mailto:support@adfinis-sygroup.ch">support@adfinis-sygroup.ch</a>
  </p>
  <p style="font-size:2rem">
    <a href="https://facebook.com/AdfinisSyGroup">
      <i class="fa fa-facebook-square"></i>
    </a>
    <a href="https://linkedin.com/company/2610138">
      <i class="fa fa-linkedin-square"></i>
    </a>
    <a href="https://xing.com/companies/adfinissygroupag">
      <i class="fa fa-xing-square"></i>
    </a>
    <a href="https://github.com/adfinis-sygroup">
      <i class="fa fa-github-square"></i>
    </a>
    <a href="https://twitter.com/adfinissygroup">
      <i class="fa fa-twitter-square"></i>
    </a>
  </p>
  <section class="grid grid--no-gutters grid--col grid-sm--row grid-sm--4of12">
    <div class="grid-cell">
      <h3>{{t 'index.location' location='Basel'}}</h3>
      <p>
        Adfinis SyGroup AG<br>
        Güterstrasse 86<br>
        CH-4053 Basel
      </p>
      <dl>
        <dt>{{t 'index.phone'}}</dt>
        <dd>+41 (0) 61 500 31 31</dd>

        <dt>{{t 'index.fax'}}</dt>
        <dd>+41 (0) 31 550 31 19</dd>
      </dl>
      <p>
        <a href={{t 'index.directions.bs.url'}}>
          {{t 'index.directions'}}
        </a>
      </p>
    </div>
    <div class="grid-cell">
      <h3>{{t 'index.location' location='Bern'}}</h3>
      <p>
        Adfinis SyGroup AG<br>
        Keltenstrasse 98<br>
        CH-3018 Bern
      </p>
      <dl>
        <dt>{{t 'index.phone'}}</dt>
        <dd>+41 (0) 31 550 31 11</dd>

        <dt>{{t 'index.fax'}}</dt>
        <dd>+41 (0) 31 550 31 19</dd>
      </dl>
      <p>
        <a href={{t 'index.directions.be.url'}}>
          {{t 'index.directions'}}
        </a>
      </p>
    </div>
    <div class="grid-cell">
      <h3>{{t 'index.location' location='Zürich'}}</h3>
      <p>
        Adfinis SyGroup AG<br>
        Neptunstrasse 109<br>
        CH-8032 Zürich
      </p>
      <dl>
        <dt>{{t 'index.phone'}}</dt>
        <dd>+41 (0) 43 500 38 90</dd>

        <dt>{{t 'index.fax'}}</dt>
        <dd>+41 (0) 31 550 31 19</dd>
      </dl>
    </div>
  </section>
</section>
