<div class="grid grid--col grid--no-gutters">
  <div class="grid grid-cell">
    <div class="grid-cell">
      <table class="table table--striped">
        <caption>{{t 'rt.list-caption'}}</caption>
        <thead>
          <tr>
            <th>{{t 'rt.id'}}</th>
            <th class="hide sm-show">{{t 'rt.status'}}</th>
            <th>{{t 'rt.title'}}</th>
            <th class="hide md-show">{{t 'rt.updated'}}</th>
            <th class="hide lg-show">{{t 'rt.created'}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>#123</td>
            <td class="hide sm-show">New</td>
            <td>Somethings wrong!</td>
            <td class="hide md-show">Friday, July 3, 2015 3:27 PM</td>
            <td class="hide lg-show">Friday, July 3, 2015 3:27 PM</td>
          </tr>
          <tr>
            <td>#123</td>
            <td class="hide sm-show">New</td>
            <td>Somethings wrong!</td>
            <td class="hide md-show">Friday, July 3, 2015 3:27 PM</td>
            <td class="hide lg-show">Friday, July 3, 2015 3:27 PM</td>
          </tr>
          <tr>
            <td>#123</td>
            <td class="hide sm-show">New</td>
            <td>Somethings wrong!</td>
            <td class="hide md-show">Friday, July 3, 2015 3:27 PM</td>
            <td class="hide lg-show">Friday, July 3, 2015 3:27 PM</td>
          </tr>
          <tr>
            <td>#123</td>
            <td class="hide sm-show">New</td>
            <td>Somethings wrong!</td>
            <td class="hide md-show">Friday, July 3, 2015 3:27 PM</td>
            <td class="hide lg-show">Friday, July 3, 2015 3:27 PM</td>
          </tr>
          <tr>
            <td>#123</td>
            <td class="hide sm-show">New</td>
            <td>Somethings wrong!</td>
            <td class="hide md-show">Friday, July 3, 2015 3:27 PM</td>
            <td class="hide lg-show">Friday, July 3, 2015 3:27 PM</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="grid-cell grid-cell--1 grid-cell-sm--3">
      <table class="table table--striped">
        <caption>{{t 'symon.list-caption'}}</caption>
        <thead>
          <tr>
            <th>{{t 'symon.host'}}</th>
            <th>{{t 'symon.status'}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>topaxi.ch</td>
            <td>OK</td>
          </tr>
          <tr>
            <td>irc.topaxi.ch</td>
            <td>OK</td>
          </tr>
          <tr>
            <td>topaxi.codes</td>
            <td>OK</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="grid grid-cell">
    <div class="grid-cell">
      {{redmine-list host='redmine1' limit=8}}
    </div>
    <div class="grid-cell grid-cell--1 grid-cell-sm--3">
      <table class="table table--striped">
        <caption>{{t 'timescout.list-caption'}}</caption>
        <thead>
          <tr>
            <th>{{t 'timescout.subscription'}}</th>
            <th>{{t 'timescout.remaining-hours'}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>SSA Standard</td>
            <td>12h 30min</td>
          </tr>
          <tr>
            <td>SLA Störungsbehebung</td>
            <td>24h 15min</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
