<div class="grid grid--col grid--no-gutters">
  <div class="grid grid-cell">
    <div class="grid-cell">
      {{rt-list limit=5}}
    </div>
    <div class="grid-cell grid-cell--1 grid-cell-sm--3">
      <table class="table table--striped">
        <caption>{{t 'symon.list-caption'}}</caption>
        <thead>
          <tr>
            <th>{{t 'symon.host'}}</th>
            <th>{{t 'symon.status'}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>topaxi.ch</td>
            <td>OK</td>
          </tr>
          <tr>
            <td>irc.topaxi.ch</td>
            <td>OK</td>
          </tr>
          <tr>
            <td>topaxi.codes</td>
            <td>OK</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="grid grid-cell">
    <div class="grid-cell">
      {{redmine-list host='redmine1' limit=8}}
    </div>
    <div class="grid-cell grid-cell--1 grid-cell-sm--3">
      {{ts-subscriptions user='Fromarte'}}
    </div>
  </div>
</div>
